{{#*inline "page"}}

<div class="container">
<div>
    {{my_side}}
    <!-- TITLE -->
    <div class="columns">
      <div class="column is-full has-text-centered">
        <h1 class="title-104 title">104</h1>
        <h2 class="title-ttp subtitle">
          <span class="title-things">things</span>
          <span class="title-to">to</span>
          <span class="title-photograph">photograph</span>
        </h2>
      </div>
    </div>
    
    <!-- PHOTOS -->
    <div class="columns">
    <div class="column">
    <div class="tile is-ancestor is-vertical">

      <!-- break line -->
      <div class="tile is-12 is-parent">
      <div class="tile is-12 is-child">
        <div class="photo-break"></div>
      </div>
      </div>

      {{#each pictures}}

      <!-- images -->
      <div class="tile is-12 is-parent">
        {{#each shows}}
        <div class="tile is-6 is-child">
          <div class="photo-image-wrapper">
          <figure class="image is-16by9">
            {{#if this}}
              <a href="/image/{{@index}}/{{../id}}?r={{lookup ../hashs @index}}">
                <img class="photo-image" src="/image/{{@index}}/{{../id}}?thumb=1&r={{lookup ../hashs @index}}" loading="lazy"></img>
              </a>
            {{else}}
              <div class="no-image-placeholder has-ratio">
                {{#if (eq @index ../../my_side) }}
                <a class="button is-rounded is-warning is-outlined"
                   href="/edit/{{@index}}/{{../id}}">ajouter</a>
                {{/if}}
              </div>
            {{/if}}
          </figure>
          </div>
        </div>
        {{/each}}
      </div>

      <!-- subtitle -->
      <div class="tile-photo-subtitle tile is-12 is-parent">
      <div class="tile is-12 is-child">
        <div class="photo-subtitle">
          <p> {{word}} </p>
        </div>
      </div>
      </div>
      
      <!-- break line -->
      <div class="tile is-12 is-parent">
      <div class="tile is-12 is-child">
        <div class="photo-break"></div>
      </div>
      </div>
 


      {{/each}}
    </div>
    </div>
    </div>

</div>
</div>

<script>
window.addEventListener("pageshow", function(event) {
  console.log("pageshow");
  var historyTraversal = event.persisted ||
    ( typeof window.performance != "undefined" &&
        window.performance.navigation.type === 2 );
  if(historyTraversal) {
    window.location.reload();
  }

});


</script>

{{/inline}}
{{> layout}}
